body {
    background-image: url("./img/NightBg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#charList img, p {
    display: block;
    width: 60px;
    margin: auto;
}

.charOn {

}

.charOff {}