body {
    background-image: url("./img/NightBg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#charList img, p {
    display: block;
    margin: auto;
}

.charOn img {
    filter: none;
}

.charOff img {
    filter: grayscale(1);
}